.code {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    margin: 5px 10px;
    padding: 10px 20px 10px 10px;
    display: inline-block;
    background-color: #161718;
    border: 2px solid #940d2a;
    border-radius: 10px;
    text-align: left;
}

cn {
    display: inline;
    color: #5dccfc;
}

.code code{
    font-family: inherit;
    line-height: 1.5;
}

.code-gradle-closure {
    color: #d2a8ff;
}

.code-string {
    color: #329b4c;
}

.code-java-keyword {
    color: #e09200;
}