:root {

}

#container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    gap: 0;

    height: 100vh;
}

/*This is the header*/
#top {
    flex-shrink: 1;
    order: 1;

    position: sticky;
    top: 0;
    background-color: var(--header-color);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    display: flex;
    flex-direction: row;
    align-content: stretch;
    gap: 0;
}

#top-heading-container {
    flex-shrink: 1;

    background-color: inherit;
    padding: 10px 20px 10px 20px;
}

#top-buttons-container {
    flex-grow: 2;
    background-color: inherit;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
    align-content: center;

}

.projects-dropdown-btn {
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.projects-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--header-color);
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.projects-list {
    display: flex;
    flex-direction: column;
}


.projects-dropdown-btn:hover .projects-dropdown {
    display: block;
}



#top-buttons-container .button:hover {
    background-color: #2e0248;
}

#window {
    flex-grow: 2;
    order: 2;

    background-color: inherit;
}

#bottom {
    flex-shrink: 1;
    order: 3;

    background-color: #161718;
    padding: 15px;
}

#bottom a {
    color: #b4b4b4;
    text-decoration: none;
    padding: 10px 10px 10px 30px;
}

#bottom a:hover {
    text-decoration: underline;
}