:root {
    --header-color: #450257;
    --header-hover-color: #2e0248;
    --page-background-color: #202124;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: var(--page-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #161718;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--header-color);
}

.github-btn {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    background-color: #161b22;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.github-btn span {
    line-height: 1.0;

}

.github-btn span svg {
    height: 32px;
    fill: currentColor;

}



html {
    background-color: var(--page-background-color);
    color: white;
}

a {
    color: #d5d5d5;
}

.heading {
    font-size: 35px;
    font-weight: bold;
    color: white;
    background-color: inherit;
    text-decoration: none;
}


.button {
    font-size: 20px;
    font-weight: normal;
    color: white;
    background-color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    --button-border-color: #1b012f;
}

.button-left {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--button-border-color);
}

.button-up {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--button-border-color);
}

.h1 {
    font-size: 30px;
    padding-bottom: 5px;
}

