
body {
    background-image: url("/projects/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#projects-site {
    background-color: transparent;

    display: block;
    padding: 20px 0 0 0;
}

#prs-head {
    font-size: 50px;
    text-align: center;
    padding: 75px;
}

/* Overviews */

#ps-overviews {
    margin-top: 10px;
    width: 100%;
    background-color: inherit;

    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.project-overview {
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: #450257;
    margin: 20px;
    height: 300px;
    width: 300px;

}

.ps-h {
    padding: 10px;
}

.ps-p {
    padding: 0px 10px 0px 10px;
}


/* Projects */

#ps-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 500px;
}

.project-container {
    /*background: linear-gradient(90deg, rgb(69, 2, 87) 0%, rgb(75, 10, 119) 75%, rgb(69, 2, 87) 100%);*/
    background: rgb(54,0,88);
    background: linear-gradient(90deg, rgba(54,0,88,1) 0%, rgb(39, 4, 77) 50%, rgba(101,0,134,1) 100%);
}

.project {
    display: block;
    position: relative;
    margin-right: 200px;
    margin-left: 50px;
    padding: 40px 20px 40px 20px;


}

.project-buttons-list {
    position: absolute;
    right: 0;
    bottom: 0;

    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;

    padding: 10px;
    background-color: transparent;
}


#lapi {

}

#data {

}

#rt {

}

#mc-shader {

}
